@import '~bootstrap/scss/bootstrap';

// color palette #CE6A6C  #EBADA1  #BED3C3 #4B919E #222F53

body {
  height: 100vh;
  background-color:  #BED3C3;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222F53;
  border: 5px dotted;
  border-color: #4B919E;
}

div{
border: 1px dotted blue;
height: 55px;
font-size: 30px;
}

section {
  border-style: 5px solid;
  border-color: blue;
}

.container {
}

.game-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100% / 3);
  &:hover {
    background-color: #CE6A6C;
  }
  user-select: none;
}

.top-section {
  background-color: #222F53;
  border: 1px solid black;
}

.middle-section {
  background-color: #EBADA1;
  border: 8px solid black;
}

.bottom-section {
  background-color: #CE6A6C;
  border: 1px solid black;
}

.row {
}

#notifications {
  border: 1px solid green;
}
